<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<body>
<form id="personForm" action="#" th:action="@{/}" th:object="${personForm}" method="post">
    <table>
        <tr>
            <td><label for="name">Name:</label></td>
            <td><input type="text" id="name" th:field="*{name}"/></td>
            <td th:if="${#fields.hasErrors('name')}" id="nameError" th:errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <td><label for="age">Age:</label></td>
            <td><input type="text" id="age" th:field="*{age}"/></td>
            <td th:if="${#fields.hasErrors('age')}" id="ageError" th:errors="*{age}">Age Error</td>
        </tr>
        <tr>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>